.master-header {
  min-height: 50px;
  background-color: #333;
  color: #eee; }

.master-footer {
  min-height: 50px;
  background-color: #333;
  color: #eee; }

body {
  margin: 0px;
  background-color: #eee; }

.main {
  background-color: #777; }
