

// Colours

$brand-black:           #000;
$brand-white:           #fff;

$brand-gray-darker:     #293846;
$brand-gray-dark:       #333;
$brand-gray:            #555;
$brand-gray-light:      #777;
$brand-gray-lighter:    #eee;

$brand-green:           #18a689;