<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            &nbsp;
        </div>
        <div class="col-xs-3">
            <nav>
                navbar
            </nav>
        </div>
        <div class="col-xs-7 main">
            <main>
                hello app component
            </main>
        </div>
        <div class="col-xs-1 main">
            &nbsp;
        </div>
    </div>
    
    
</div>

<app-footer></app-footer>